body {
  margin: 0;
  font-family: "Inter", serif;
  font-weight: 400;
  color: #292929;
  background-color: #fff;
}

main {
  background-color: #fff;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-style: italic;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h2 {
  margin: 0 0 64px;
  text-align: center;

  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

@media (max-width: 1024px) {
  h1,
  h2 {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  h1,
  h2 {
    font-size: 32px;
  }
  h2 {
    margin-bottom: 48px;
  }
}

/* .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */

.container {
  width: 100%;
  /* max-width: 1260px; */
  box-sizing: border-box;
  margin: 0 auto 120px;
  padding: 0 120px;

  @media (max-width: 1024px) {
    padding: 0 72px;
  }

  @media (max-width: 576px) {
    padding: 0px 32px;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  height: 100vh;
  padding: 64px 0;

  @media (max-width: 1024px) {
    padding-bottom: 40px;
  }

  @media (max-width: 576px) {
    padding: 20px 0;
  }
}

.header {
  background-image: url(./img/Header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1024px) {
    background-image: url(./img/Header-bg-small.png);
    background-position: 0 0;
  }

  @media (max-width: 576px) {
    background-image: url(./img/Header-bg-smaller.png);
    background-position: 0 0;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__bottom h1 {
  margin: 40px 0 0;

  @media (max-width: 576px) {
    margin: 20px 0 0;
  }
}

.menu {
  box-sizing: border-box;
  background-color: #e8eff9;
  display: flex;
  flex-direction: column;
  padding: 64px 120px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s;

  @media (max-width: 1024px) {
    padding: 64px 0px;
  }

  @media (max-width: 576px) {
    padding: 64px 0px;
  }
}

.menu.is-open {
  transform: translateX(0);
}

.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.logo {
  @media (max-width: 576px) {
    width: 127px;
    height: 16px;
  }
}

.logo_waves {
  @media (max-width: 576px) {
    width: 32px;
    height: 38px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  color: #292929;
}

.nav__link:hover {
  text-decoration: underline;
}

.recommended_section__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.recommended_section__item_title {
  margin: 32px 0 8px;
}

.recommended_section__item_price {
  margin-top: 12px;
}

.recommended_section img {
  @media (max-width: 576px) {
    width: 280px;
  }
}

.categories_section h3 {
  margin-top: 16px;
  font-size: 24px;
  line-height: 33.6px;
}

.categories_section h3:not(:last-child) {
  margin-bottom: 64px;

  @media (max-width: 576px) {
    margin-bottom: 40px;
  }
}

.categories_section__photo {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.photo-wide {
  width: 65%;

  @media (max-width: 576px) {
    width: 49%;
    object-fit: cover;
  }
}

.right-position {
  @media (max-width: 576px) {
    object-position: 75% 50%;
  }
}

.photo-square {
  width: 32%;

  @media (max-width: 576px) {
    width: 49%;
  }
}

.advantages_section___container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 111px;

  @media (max-width: 576px) {
    flex-direction: column;
    gap: 32px;
  }
}

.advantages_section h2 {
  margin: 0;
  text-align: left;
}

.advantages_section h3:not(:last-of-type) {
  margin-bottom: 16px;
}

.advantages_section h3:last-of-type {
  margin-bottom: 40px;
}

.advantages_section__text {
  width: 50%;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.footer {
  /* position: sticky;
  bottom: 0;
  z-index: -1; */
  height: 460px;
  background-image: url(./img/Footer-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1024px) {
    height: 400px;
  }

  @media (max-width: 576px) {
    height: 200px;
  }
}
